@import url("//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-glyphicons.css");

.navbar{
    background-color:#2C3539;
}
label{
    padding-left: 10px;
}

.btn {
    color:#AEB6BF;
}


/* .btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; } */